PORT=4000
FRONTEND_URL=http://localhost:5173
DEV_MODE=development
MONGO_URL=your_mongodb_connection_string
TEST_KEY=your_test_key
KEY_SECRET=your_key_secret
CREATE_USER=your_create_user_webhook_secret
UPDATE_USER=your_update_user_webhook_secret
DELETE_USER=your_delete_user_webhook_secret
